.btn-light-gray{
  color: #000;
  background-color: #f1f1f1;
  border-color: #ced4da;
}

.btn-dark-gray{
  color: #fff;
  background-color: #afafaf;
  border-color: #afafaf;
}

.btn-outline-light-gray{
  color: #000;
  background-color: transparent;
  border-color: #ced4da;
}

.btn-outline-dark-gray{
  color: #fff;
  background-color: transparent;
  border-color: #afafaf;
}