.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar main"
}

.sidebar{
  grid-area: sidebar;
}

.main{
  grid-area: main;
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
   }
   .sidebar{
    display: none;
  }
}

.fullwidth-dropdown{
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.dropdown-item-static{
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-static:hover{
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

#authScreen{
  // background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #ec2f4b, #f03073, #e94099, #d856bc, #bd6cd9, #9880ef, #6791fb, #009fff);
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: all 1s ease;   
  -webkit-animation: authScreenGradient 20s ease infinite;
  -moz-animation: authScreenGradient 20s ease infinite;
  animation: authScreenGradient 20s ease infinite; 
}


@-webkit-keyframes authScreenGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes authScreenGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes authScreenGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-bg-color-vertical{
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ec2f4b, #f03073, #e94099, #d856bc, #bd6cd9, #9880ef, #6791fb, #009fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, #ec2f4b, #f03073, #e94099, #d856bc, #bd6cd9, #9880ef, #6791fb, #009fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-bg-color-horizontal{
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2f4b, #f03073, #e94099, #d856bc, #bd6cd9, #9880ef, #6791fb, #009fff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(270deg, #ec2f4b, #f03073, #e94099, #d856bc, #bd6cd9, #9880ef, #6791fb, #009fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.secondary-bg-color{
  background-color: #8e07e5;
}

.highlight-bg-color{
  background-color: #9a65fa;
}

.navbar{
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-nav .nav-item .nav-link{
  margin: 0 5px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-nav .nav-item .nav-link:hover{
  background-color: #009fff;
  color: #ffffff;
} 

.navbar-nav .nav-item .nav-link:active, 
.navbar-nav .nav-item .nav-link.active{
  background-color: #ec2f4b;
  color: #ffffff;
}

.sidebar .nav-link{
  color: #ffffff;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 12px 24px;
}

.sidebar .nav-link:hover{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar .nav-link span.label{
  margin: 0 30px 0 10px;
}

.sidebar-navblock-header{
  margin-left: 24px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.sidebar-sticky{
  // height: calc(100vh - 58px);
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  /* overflow-y: auto; */
  -ms-overflow-style: none;
}

.sidebar-sticky::-webkit-scrollbar { width: 0 !important }

#userSettingsDropdown span.label{
  margin: 0 30px 0 10px;
}

#userSettings span.label{
  margin: 0 10px;
}

.initial{
  position: initial;
}

// #global-app-search{
//   margin: 0 2rem;
// }


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  vertical-align: middle;
  margin-left: 40px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  bottom: 0px;
  background-color: white;
  border: 1px solid #ced4da;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch{
  margin-bottom: 0;
  /* margin-bottom: 5px; */
  /* float: right; */
  height: 24px;
}

.btn-outline{
  border: 1px solid #ced4da;
}

.playing-card-bounding-box{
  // margin-top: 3rem;
  // background-color: #009fff;
  // border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card{
  // border: none;
  // display: flex;
  // align-items: center;
  background-color: transparent;
  width: 63mm;
  height: 88mm;
  // border: 1px solid #f1f1f1;
  perspective: 1000px;

  &:hover .flip-card-inner{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
  }


  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    border-radius: 8.5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  

  }

  &.active .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    img{
      // width: 63mm;
      // height: 88mm;
      width: 100%;
      height: 100%;
    }
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  &.v-offset{
    // margin-top: -3rem;
  }
}